body{
    background-image: url("BiMage.jpg");
    background-size: cover;  
    background-repeat: no-repeat; 
    padding-bottom: 100px;
}
.heading
{
font-size: 23px;
width: 100%;
margin-top: 30px;
}
#span1{
    text-align: center;
}
a{
    margin: 20px;
    width:250px;
    text-align: center;
    
}
.btn-default{
    border: 0;
    border-radius: 20px;
    
}